@import url(https://fonts.googleapis.com/css?family=Roboto:300);
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #cef;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.widget {
  background: linear-gradient(to bottom right, #3cc0fe 20%, #0066ff);
  width: 900px;
  height: 400px;
  border-radius: 6px;
  box-shadow: 0px 60px 80px -20px rgba(#27a5fd, 0.4);
  position: relative;
  overflow: hidden;
}

.pictoBackdrop {
  position: absolute;
  height: 400px * 1.4;
  width: 400px * 1.4;
  border-radius: 50%;
  background: linear-gradient(
    160deg,
    rgba(#3cc0fe, 0.7) 40%,
    rgba(#0066ff, 0.6)
  );
  right: -40px;
  top: -90px;
}

.pictoFrame {
  position: absolute;
  background: #34373e;
  border-radius: 50%;
  box-shadow: 0px 50px 60px -20px #0066ff;
  height: 400px * 1.4 * 0.6;
  width: 400px * 1.4 * 0.6;
  right: 80px;
  top: 25px;
}

.pictoCloudBig {
  position: absolute;
  border-radius: 50%;
  background: #aacbe6;
  box-shadow: 20px 20px 80px -20px #aacbe6;
  height: 400px * 1.4 * 0.6 * 0.65;
  width: 400px * 1.4 * 0.6 * 0.65;
  top: 80px;
  right: 160px;
}
/* .pictoCloudFill {
  position: absolute;
  background: #aacbe6;
  box-shadow: 0px 20px 80px -20px #aacbe6;
  height: 400px * 1.4 * 0.6 * 0.65 * 0.7 * 0.7;
  width: 400px * 1.4 * 0.6 * 0.65 * 0.7 * 0.7;
  top: 191px;
  right: 265px;
}
.pictoCloudSmall {
  position: absolute;
  border-radius: 50%;
  background: #d2e9fa;
  height: 400px * 1.4 * 0.6 * 0.65 * 0.7;
  width: 400px * 1.4 * 0.6 * 0.65 * 0.7;
  top: 146px;
  right: 282px;
}

.iconCloudBig {
  position: absolute;
  border-radius: 50%;
  background: #9cd0ff;
  height: 36px;
  width: 36px;
  top: 200px;
  left: 80px;
}
.iconCloudSmall {
  position: absolute;
  border-radius: 50%;
  height: 36px * 0.65;
  width: 36px * 0.65;
  background: #d2e9fa;
  top: 213px;
  left: 70px;
}
.iconCloudFill {
  position: absolute;
  height: 36px * 0.65 * 0.7;
  width: 36px * 0.65 * 0.7;
  background: #9cd0ff;
  top: 220px;
  left: 80px;
} */

.details {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 60px;
}
.temperature {
  color: white;
  font-weight: 300;
  font-size: 10vw;
}
.summary {
  color: #d2e9fa;
  font-size: 2em;
  font-weight: 300;
  width: 260px;
  margin-top: -16px;
  padding-bottom: 16px;
  border-bottom: 2px solid #9cd0ff;
  margin-left: 8px;
}
.summaryText {
  margin: 0;
  margin-left: 56px;
}
.precipitation,
.wind {
  color: #d2e9fa;
  font-size: 1.6em;
  font-weight: 300;
  margin-left: 8px;
}
.precipitation {
  margin-top: 16px;
}
.wind {
  margin-top: 4px;
}

#cityname1 {
  font-size: 6vw;
  display: inline;
  text-decoration: solid;
}

#weather-update {
  color: #fcfffe;
  text-shadow: 5px 3px 7px #1bb2b8;
  font-size: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#brand {
  color: #090909;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: solid;
  text-decoration-color: #1bb2b8;
}
#nav1 {
  background-color: #3cc0fe;
}
#submit {
  color: #f0f2f5;
  background-color: #605959;
}
#cityname1,
#humidity1,
#wind_speed1,
.precipitation,
.wind,
ul,
.name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
